/* styles.css */
body {
    font-family: 'Georgia', serif;
    background-color: #2c2c2c;
    color: #f4e542;
    text-align: center;
    margin: 0;
    padding: 5% 0;
}

h1, h2, h3 {
    font-family: 'Chiller', cursive; 
    color: #f4733a; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

p, li {
    font-size: 1.2em;
    margin: 20px 0;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

a {
    color: #f4733a;
    text-decoration: none;
    transition: color 0.3s;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #3d3d3d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.visible {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
    max-width: 600px;
    margin: 0 auto;
}

.parchment {
    position: relative;
    background-color: #FAF0DC;
    border: 1px solid #A89968;
    padding: 20px 30px;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    color: #5D4C42;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-image: url("./images/texture_old_paper.jpg"); /* old paper texture */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-wrap: break-word;
}

/*
.parchment::before, 
.parchent::after {
    content: "";
    display: block;
    width: 40%;
    height: 20px;
    position: absolute;
    margin: 0 auto;
    background: inherit;
    border-radius: 50%/100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.parchment::before {
    top: -20px;
}

.parchment::after {
    bottom: -20px;
}
*/

.creditos {
    position: fixed; /* Fija la posición de los créditos en la ventana del navegador */
    bottom: 10px; /* Posiciona los créditos a 10px del borde inferior */
    left: 0; /* Alinea los créditos a la izquierda */
    width: 100%; /* Ocupa el ancho total de la ventana */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 0.8em; /* Reduce el tamaño de la fuente */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente para mejorar la legibilidad */
    color: #f4e542; /* Color del texto */
    padding: 5px 0; /* Añade algo de relleno superior e inferior */
    z-index: 1000; /* Asegura que los créditos estén por encima de otros elementos */
}

.creditos a {
    color: #f4e542; /* Color de enlace */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.creditos a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón sobre los enlaces */
}