/* styles.css */
body {
    font-family: 'Georgia', serif;
    background-color: #2c2c2c;
    color: #f4e542;
    text-align: center;
    margin: 0;
    padding: 5% 0;
}

h1, h2, h3, p {
    font-family: 'Chiller', cursive; 
    color: #f4733a; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #3d3d3d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.visible {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
    max-width: 600px;
    margin: 0 auto;
}

.parchment {
    position: relative;
    background-color: #FAF0DC;
    border: 0px;
    padding: 20px 30px;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    color: #5D4C42;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-image: url("./images/texture_old_paper.jpg"); /* old paper texture */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-wrap: break-word;
}

/*
.parchment::before, 
.parchent::after {
    content: "";
    display: block;
    width: 40%;
    height: 20px;
    position: absolute;
    margin: 0 auto;
    background: inherit;
    border-radius: 50%/100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.parchment::before {
    top: -20px;
}

.parchment::after {
    bottom: -20px;
}
*/

footer {
    background-color: #2c2c2c; /* Fondo oscuro */
    padding: 20px 0;
    font-size: 0.9em; /* Tamaño de letra más pequeño que el contenido principal */
    color: #f4e542; /* Color de letra amarillo oscuro para contraste */
    border-top: 3px solid #f4733a; /* Borde superior naranja */
}

footer h2 {
    font-size: 1.2em; /* Tamaño de letra para el título de créditos */
    margin: 0 0 15px 0; /* Ajusta márgenes del título */
    text-align: center; /* Centra el título */
}

footer ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los elementos de la lista */
}

footer li {
    margin: 5px 0; /* Espaciado entre elementos de la lista */
}

.creditos-footer a {
    color: #f4e542; /* Color de enlace amarillo oscuro */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    transition: color 0.3s; /* Transición suave al cambiar color */
}

footer a:hover {
    color: #f4733a; /* Cambia a naranja al pasar el ratón sobre el enlace */
}




