/* styles.css */
body {
    font-family: 'Georgia', serif;
    background-color: #2c2c2c;
    color: #f4e542;
    text-align: center;
    margin: 0;
    padding: 5% 0;
}

h1, h2, h3 {
    font-family: 'Chiller', cursive; 
    color: #f4733a; 
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

p, li {
    font-size: 1.2em;
    margin: 20px 0;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

a {
    color: #f4733a;
    text-decoration: none;
    transition: color 0.3s;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #3d3d3d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.visible {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.hidden {
    display: none;
    max-width: 600px;
    margin: 0 auto;
}

.parchment {
    position: relative;
    background-color: #FAF0DC;
    border: 1px solid #A89968;
    padding: 20px 30px;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    color: #5D4C42;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-image: url("./images/texture_old_paper.jpg"); /* old paper texture */
    overflow-wrap: break-word;
}

/*
.parchment::before, 
.parchent::after {
    content: "";
    display: block;
    width: 40%;
    height: 20px;
    position: absolute;
    margin: 0 auto;
    background: inherit;
    border-radius: 50%/100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.parchment::before {
    top: -20px;
}

.parchment::after {
    bottom: -20px;
}
*/
.credits {
    background-color: rgba(250, 240, 220, 0.7); /* Un fondo semitransparente que se asemeja al color del pergamino */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.credits h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.credits ul {
    list-style-type: none;
    padding-left: 0;
}

.credits li {
    margin: 10px 0;
}

.credits a {
    color: #5D4C42; /* Un marrón oscuro para que combine con el tema */
    text-decoration: underline;
    transition: color 0.3s;
}

.credits a:hover {
    color: #3B3226; /* Un marrón más oscuro para el efecto de hover */
}